//  _    _      _
// | |  | |    | |
// | |__| | ___| |_ __   ___ _ __ ___
// |  __  |/ _ \ | '_ \ / _ \ '__/ __|
// | |  | |  __/ | |_) |  __/ |  \__ \
// |_|  |_|\___|_| .__/ \___|_|  |___/
//               | |
//               |_|

// -----------------------------------------------------------
// NOTE: 01. Clear inner floats
// -----------------------------------------------------------

.clearfix::after, .clearfix {
  clear: both;
  content: '';
  display: table;
}

// -----------------------------------------------------------
// NOTE: 02. Main content containers
// -----------------------------------------------------------
// 1. Make the container full-width with a maximum width
// 2. Center it in the viewport
// 3. Leave some space on the edges, especially valuable on small screens
// -----------------------------------------------------------

.container {
  max-width: var(--max-width); /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
 }

// -----------------------------------------------------------
// NOTE: 03. Hide text while making it readable for screen readers
// -----------------------------------------------------------
// Needed in WebKit-based browsers because of an implementation bug;
// See: https://code.google.com/p/chromium/issues/detail?id=457146
// -----------------------------------------------------------

.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

// -----------------------------------------------------------
// NOTE: 04. Hide element while making it readable for screen readers
// -----------------------------------------------------------
// Shamelessly borrowed from HTML5Boilerplate:
// https://github.com/h5bp/html5-boilerplate
// Script in _mixins.scss 1.08
// -----------------------------------------------------------

.visually-hidden {
  @extend %visuallyhidden;
}
