//  _______                                      _
// |__   __|                                    | |
//    | |_   _ _ __   ___   __ _ _ __ __ _ _ __ | |__  _   _
//    | | | | | '_ \ / _ \ / _` | '__/ _` | '_ \| '_ \| | | |
//    | | |_| | |_) | (_) | (_| | | | (_| | |_) | | | | |_| |
//    |_|\__, | .__/ \___/ \__, |_|  \__,_| .__/|_| |_|\__, |
//        __/ | |           __/ |         | |           __/ |
//       |___/|_|          |___/          |_|          |___/
// Use type-scale.com for Font-Sizes

html {
  font-family: var(--text-font-stack);
  font-size: var(--base-font-size);
  font-weight: 300;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: var(--text-font-stack);
  font-weight: 300;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3,
.menu__title {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

small,
.text_small {
  font-size: 0.633em;
}

.menu__title {
  line-height: 50px;

  @include bp-tablet {
    font-size: 1.2em;
  }
}
