{{ define "main" }}

<div class="contactpage">
  <h1>{{ .Title }}</h1>
  <address>
    {{ with $.Site.Data.siteVar.schema.siteName }}{{ . }}{{ end }}<br />
    {{ with $.Site.Data.siteVar.schema.street }}{{ . }}{{ end }}<br />
    {{ with $.Site.Data.siteVar.schema.code }}{{ . }}{{ end }} {{ with $.Site.Data.siteVar.schema.locality }}{{ . }}{{ end }}<br />
    {{ with $.Site.Data.siteVar.schema.country }}{{ . }}{{ end }}<br /><br />
    T: {{ with $.Site.Data.siteVar.schema.telephone }}{{ . }}{{ end }}<br />
    E: {{ partial "cloakemail" (dict "context" . "address" $.Site.Data.siteVar.schema.email) }}
  </address>
</div>

{{ end }}