//  __      __        _       _     _
//  \ \    / /       (_)     | |   | |
//   \ \  / /_ _ _ __ _  __ _| |__ | | ___  ___
//    \ \/ / _` | '__| |/ _` | '_ \| |/ _ \/ __|
//     \  / (_| | |  | | (_| | |_) | |  __/\__ \
//      \/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/

:root {
  // -----------------------------------------------------------
  // NOTE: 01. Font-Stacks & Base-Font-Size
  // https://www.cssfontstack.com/
  // -----------------------------------------------------------

  --base-font-size: 18px;

  --text-font-stack: "urw-din", "sans-serif";
  --code-font-stack: "Courier New", "Courier", "Lucida Sans Typewriter",
    "Lucida Typewriter", "monospace";

  // -----------------------------------------------------------
  // NOTE: 02. Colors
  // -----------------------------------------------------------

  --black: hsla(0, 0%, 0%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --red: hsla(0, 100%, 50%, 1);
  --yellow: hsla(60, 100%, 50%, 1);
  --grey: hsla(0, 0%, 50%, 1);
  --lightgrey: hsla(0, 0%, 75%, 1);
  --blue: hsla(198, 75%, 51%, 1);

  --shadow_one: hsla(0, 0%, 0%, 0.12);
  --shadow_two: hsla(0, 0%, 0%, 0.24);

  // -----------------------------------------------------------
  // NOTE: 03. Others
  // -----------------------------------------------------------
  --max-width: 1400px; // Maximum Container width; used in /base/_helpers.scss
} //:root

// -----------------------------------------------------------
// NOTE: 04. Breakpoints uses in /abstract/_mixins.scss
// -----------------------------------------------------------

$phonelandscape: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopwide: 1200px;
$desktopultrawide: 1400px;
