//  ____        _   _
// |  _ \      | | | |
// | |_) |_   _| |_| |_ ___  _ __  ___
// |  _ <| | | | __| __/ _ \| '_ \/ __|
// | |_) | |_| | |_| || (_) | | | \__ \
// |____/ \__,_|\__|\__\___/|_| |_|___/

// Go to top
.button-top {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0;
  background-color: var(--white);
  @include border-radius(25px);
  border: 0;
  outline: none;
  width: 50px;
  height: 50px;
  position: fixed;
  right: -50px;
  bottom: 100px;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  @include transition(all .3s ease);
  @include box-shadow(0, 1px, 3px, var(--shadow_one));

  @include on-event {
    background-color: var(--blue) !important;

    img {
      @include transition(all 0.5s ease);
      filter: invert(100%);
    }

    img:nth-child(1) {
      top: -35px;
      
    }
    img:nth-child(2) {
      top: -55px;
    }
  }

  img {
    width: 50px;
    position: relative;
    top: 0;
  }

  @include bp-desktop {
    bottom: 35px !important;
  }

  &.show {
    right: 35px !important;
    bottom: 100px !important;
    @include transition(all .3s ease);
    @include opacity(1);

    @include bp-desktop {
      bottom: 35px !important;
    }
  }

  &.bottom {
    bottom: 190px !important;
    @include transition(all .3s ease);

    @include bp-tablet {
      bottom: 135px !important;
    }

    @include bp-desktop {
      bottom: 85px !important;
    }
  }
}