{{ define "main" }}

{{ range where .Site.RegularPages "Section" "blog" }}
<article class="article">
  <div class="date">{{ i18n "published" }}: {{ .PublishDate.Day }}. {{ i18n .PublishDate.Month }} {{ .PublishDate.Year }}</div>

  <div class="articles__tags">
  {{ with .Params.tags }}
    Tags: 
    {{ range . }}
      <a href="{{ "tags/" }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a>
    {{ end }}
  {{ end }}
  </div>

  <div class="articles__categories">
  {{ with .Params.categories }}
    Categories:
    {{ range . }}
      <a href="{{ "categories/" }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a>
    {{ end }}
  {{end}}
  </div>

  <p class="articles__summary">{{ .Summary }}</p>
  <a href="{{ path.Join "blog" .Params.slug | absLangURL }}" title="{{ i18n "followLink" }}">{{ i18n "followLink" }}</a>
</article>
{{ end }}

{{ end }}