//  ______          _
// |  ____|        | |
// | |__ ___   ___ | |_ ___ _ __
// |  __/ _ \ / _ \| __/ _ \ '__|
// | | | (_) | (_) | ||  __/ |
// |_|  \___/ \___/ \__\___|_|

footer {
  background-color: var(--white);
  border-top: 1px solid var(--grey);
  
  .footer-container {
    max-width: 900px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;

    @include bp-tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    .socialmedia {
      padding-left: 0;
      flex-grow: 1;
      flex: 1 1 0;
      display: flex;
  
      @include bp-tablet {
        order: 2;
        max-width: 200px;
      }
      
      &__icons {
        width: 20px;
        flex-grow: 1;
      }

      &__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style-type: none;
        flex-grow: 1;
        text-align: center;
        @extend .text_small;

        .socialmedia__icons {

          @include on-event {
            // Use this tool to compute: https://codepen.io/sosuke/pen/Pjoqqp
            filter: invert(58%) sepia(60%) saturate(1887%) hue-rotate(165deg) brightness(94%) contrast(87%);
            @include transition(all .3s ease);
          }
        }
      }
    }

    .footer__menu {
      padding-left: 0;
      flex-grow: 1;
      flex: 1 1 0;
      display: flex;
  
      @include bp-tablet {
        order: 1;
        max-width: 350px;
      }

      .footer__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style-type: none;
        flex-grow: 1;
        text-align: center;
        @extend .text_small;

        .footer__link {
          text-decoration: none;
          color: var(--black);
          @include transition(all .3s ease);
      
          @include on-event {
            color: var(--blue);
            @include transition(all .3s ease);
          }
        }
      }
    }
  }
}
