//  _    _                _
// | |  | |              | |
// | |__| | ___  __ _  __| | ___ _ __
// |  __  |/ _ \/ _` |/ _` |/ _ \ '__|
// | |  | |  __/ (_| | (_| |  __/ |
// |_|  |_|\___|\__,_|\__,_|\___|_|

.header {

  .mobile-sticky-header {
    position: fixed;
    display: inherit;
    top: -30px;
    width: 100%;
    height: 65px;
    text-align: right;
    background-color: var(--white);
    border-bottom: 1px solid #dfdfdf;
    @include transform(translate3d(0, -100%, 0));
    @include transition(all .3s ease);
    z-index: 1;

    &__logo {
      width: 65px;
      margin: 20px 25px 0 0;
    }

    &.show {
      @include transform(translate3d(0, 20px, 0));
      @include transition(all .3s ease);
    }

    @include bp-desktop {
      display: none;
    }
  }

  picture img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;

    @include bp-desktop {
      margin-top: 75px;
    }
  }

  &__logo {
    position: absolute;
    top: 50px;
    right: 25px;
    width: 150px;

    @include bp-desktop {
      display: none;
    }
  }
}