//  _   _             _             _   _
// | \ | |           (_)           | | (_)
// |  \| | __ ___   ___  __ _  __ _| |_ _  ___  _ __
// | . ` |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \
// | |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
// |_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
//                       __/ |
//                      |___/

// Navigation: Inspired by: https://codepen.io/bradtraversy/pen/vMGBjQ
.navigation {

  .burger__toggler {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 35px;
    bottom: 35px;
    z-index: 4;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;

    @include on-event {

      ~ .burger__button { 
        background: var(--blue);
        
        .burger__lines > div {
          background: var(--white) !important;

          &:after {
            top: 5px;
          }

          &:before {
            top: -5px;
          }
        }
      }
    }

    &.bottom {
      bottom: 130px;
      @include transition(all .3s ease);

      @include bp-tablet {
        bottom: 75px !important;
      }
    }

    /* Toggler Animation */
    &:checked + .burger__button > .burger__lines > div {
      transform: rotate(135deg);
    }

    /* Turns Lines Into X */
    &:checked + .burger__button > .burger__lines > div:before {
      top: 0;
      transform: rotate(90deg);
    }

    &:checked + .burger__button > .burger__lines > div:after {
      opacity: 0;
    }

    /* Rotate On Hover When Checked */
    &:checked:hover + .burger__button > .burger__lines > div {
      transform: rotate(225deg);
    }

    /* Show Menu */
    &:checked ~ .menu-container {
      // visibility: visible;
      // display: initial;
      @include transform(translate3d(0, 0, 0));
    }
  }

  .burger__button {
    background: var(--white);
    @include border-radius(25px);
    width: 50px;
    height: 50px;
    position: fixed;
    right: 35px;
    bottom: 35px;
    z-index: 3;
    cursor: pointer;
    @include transition(all .3s ease);
    @include box-shadow(0, 1px, 3px, var(--shadow_one));

    @include bp-desktop {
      display: none;
    }

    &.bottom {
      bottom: 130px;
      @include transition(all .3s ease);

      @include bp-tablet {
        bottom: 75px !important;
      }
    }

    .burger__lines {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 37px;
      height: 50px;
      padding: 1px 0 0 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      div {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
      

        &:before, &:after {
          content: '';
          position: absolute;
          z-index: 1;
          top: -7px;
          width: 100%;
          height: 2px;
          background: inherit;
        }

        &:after {
          top: 7px;
        }
      }
    } // .hamburger
  } // .menu_btn


  // Menu Overlay
  .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    border-bottom: 1px solid var(--grey);
    z-index: 2;
    @include transform(translate3d(0, 100%, 0));
    @include transition(all .3s ease);

    @include bp-tablet {
      width: 290px;
      @include transform(translate3d(290px, 0, 0));
      @include box-shadow(0, 1px, 3px, var(--shadow_one));
    }

    @include bp-desktop {
      width: 100%;
      height: 75px;
      @include transform(translate3d(0, 0, 0));
      @include transition(all .3s ease);
      box-shadow: none;
      left: 0;
    }

    .menu {
      
      @include bp-desktop {
        max-width: 900px;
        margin: auto;
        display: flex;
      }  

      &__link {
        text-decoration: none;
      }
    
      &__title {
        color: var(--black);
        @include transition(all .3s ease);
    
        @include on-event {
          color: var(--blue);
          @include transition(all .3s ease);
        }
      }
    
      &__items {
        list-style: none;
        margin-top: 0;
        
        @include bp-desktop {
          margin-top: 16px;
          float: left;
          list-style: none;
          display: flex;
          justify-content: start;
        }
      }
    
      &__item {
        @include bp-desktop {
          margin-right: 20px;
        }
      }
    
      &__branding {
        display: block;
        margin: 40px 40px 10px 40px;
    
        &-logo {
          width: 120px;
    
          @include bp-desktop {
            width: 125px;
          }
        }
    
        @include bp-desktop {
          margin: 24px 0 0 0;
        }
      }

      // Language Selector
      &__language {
        padding-left: 40px;
        display: flex;
        flex-direction: row;

        @include bp-desktop {
          margin-top: 24px;
        }

        &-select, &-noselect {
          padding: 0;
          margin: 0 0 0 5px;
          border-radius: 26px;
          width: 56px;
          height: 56px;
          @include transition(all .3s ease);

          @include on-event {
            border: 2px solid var(--blue);
            @include transition(all .3s ease);
          }

          @include bp-desktop {
            border-radius: 0;
            width: 53px;
            height: 35px;
          }

          img {
            width: 80px;
            clip-path: circle(20px at center);
            margin-left: -14px;
            margin-top: 2px;

            @include bp-desktop {
              width: 45px;
              clip-path: none;
              margin-left: 2px;
              margin-top: 2px;
            }
          }
        }

        &-select {      
          border: 2px solid var(--blue);
        }

        &-noselect {
          border: 2px solid transparent;
        }
      }
    } // .menu
  } // .menu_container
} // nav

