//  _____           _           
// |_   _|         | |          
//   | |  _ __   __| | _____  __
//   | | | '_ \ / _` |/ _ \ \/ /
//  _| |_| | | | (_| |  __/>  < 
// |_____|_| |_|\__,_|\___/_/\_\

/* TinySlider

.tns-outer {
  position: relative;
  margin-bottom: 40px;

  .tns-nav {
    z-index: 99;
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;    
    background: none;
    width: 100%; 
    display: flex;
    align-items: center;    
    justify-content: center;

    button {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      border: none;
      background: rgba(255, 255, 255, 0.2);
      padding: 0;
      margin: 5px;
    }

    &-active {
      background: rgba(255, 255, 255, 0.6) !important;
    }
  }

  .tns-controls {
    z-index: 99;
    max-width: 960px;
    margin: 105px 0 0 0;
    padding: 0;
    list-style: none;
    position: absolute;
    // left: 0;    
    background: none;
    width: 100%;    
    top: 50%;
    transform: translatey(-270%);
    display: flex;
    align-items: center;    
    justify-content: space-between;
    
    button {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      border: none;
      // background: rgba(255, 255, 255, 0.6);
      text-indent: -9999px;
      line-height: 0; 
      opacity: 0.4;
      @include transition(all .3s ease);

      &:nth-child(1) {
        margin-left: 10px;

        @include bp-desktop {
          margin-left: 30px;
        }

        &:after {
          content: '';
          background-image: url('/images/icons/other/arrow_left.svg');
          background-size: 40px 40px;
          width: 40px;
          height: 40px;
          margin-left: -4px;
          text-indent: 0;
          display: block;
          line-height: initial;
        }  
      }
            
      &:nth-child(2) {
        margin-right: 10px;

        @include bp-desktop {
          margin-right: 30px;
        }

        &:after {
          content: '';
          background-image: url('/images/icons/other/arrow_right.svg');
          background-size: 40px 40px;
          width: 40px;
          height: 40px;
          margin-left: -2px;
          text-indent: 0;
          display: block;
          line-height: initial; 
        }
      }
        
      &:focus {
        outline: none;
      }
  
      &:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.6);
        opacity: 1;
        @include transition(all .3s ease);    
      }
    }    
  }

  .tns-item {

    img {
      width: 100%;
    }
  }

} // .tns-outer
*/

