{{/*
  USAGE:
  If you simply want a text mail link that is cloaked you can just do:
  {{ $mail := $.Site.Params.emailFooter }}
  {{ partial "cloakemail" (dict "context" . "address" $mail) }}
  This inserts complete a-Element with mailto-Link...

  If you have a link with more to it, like wrapped div etc.
  you have to create link and content without mailto-href,
  add an id to link-element and use parameter insertmailid, like this:
  <a id="special-link-id">
    content / div etc.
  </a>
  {{ $mail := "somemail@example.de" }}
  {{ partial "cloakemail" (dict "context" . "address" $mail "insertmailid" "special-link-id") }}
*/}}

{{ $address := .address }}
{{ $parts := split $address "@" }}
{{ $user := (index $parts 0) }}
{{ $domain := (index $parts 1) }}
{{ $protocol := "mailto" }}
{{ $fingerprint := md5 (print ($address) $protocol (index (seq 999 | shuffle) 0)) }}
<style type="text/css">
  .cloaked-e-mail:before {
    content:attr(data-domain) "\0040" attr(data-user);
    unicode-bidi:bidi-override;
    direction:rtl;
  }
</style>
{{ if .insertmailid }}
<script>
  var insertElement = document.getElementById("{{ .insertmailid }}");
  var address = "{{ range $index := seq (sub (len $user) 1) 0}}{{ substr $user $index 1}}{{ end }}".split('').reverse().join('') + "@" + "{{ range $index := seq (sub (len $domain) 1) 0}}{{ substr $domain $index 1}}{{ end }}".split('').reverse().join('');
  insertElement.href = {{ $protocol }} + ":" + address;
</script>
{{ else }}
  &#32;<span class="cloaked-e-mail" data-user="{{ range $index := seq (sub (len $user) 1) 0}}{{ substr $user $index 1}}{{ end }}" data-domain="{{ range $index := seq (sub (len $domain) 1) 0}}{{ substr $domain $index 1}}{{ end }}"></span>&#32;
  <script id="{{ $fingerprint }}">
    var scriptTag = document.getElementById("{{ $fingerprint }}");
    var link = document.createElement("a");
    var address = "{{ range $index := seq (sub (len $user) 1) 0}}{{ substr $user $index 1}}{{ end }}".split('').reverse().join('') + "@" + "{{ range $index := seq (sub (len $domain) 1) 0}}{{ substr $domain $index 1}}{{ end }}".split('').reverse().join('');
    link.href = {{ $protocol }} + ":" + address;
    link.innerText = address;
    scriptTag.parentElement.insertBefore(link, scriptTag.previousElementSibling);
    scriptTag.parentElement.removeChild(scriptTag.previousElementSibling)
  </script>
{{ end }}
