<!-- Icons, Create @ https://realfavicongenerator.net/ -->
<!-- Use root folder / for creating HTML-Code-->
<!-- Use .png instead of .ico -->
<!-- Move apple-touch-icon.png and favicon.png in /static/ folder and edit HTML-code -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" /> <!-- iOS Safari -->
<link rel="manifest" href="/images/icons/favicons/site.webmanifest" /> <!-- Android Chrome -->
<link rel="mask-icon" href="/images/icons/favicons/safari-pinned-tab.svg" color="#5bbad5" /> <!-- macOS Safari -->
<meta name="msapplication-TileColor" content="#00aba9" /> <!-- Edge and IE12 Background-Color -->
<meta name="msapplication-config" content="/images/icons/favicons/browserconfig.xml" /> <!-- Edge and IE12 Browserconfig -->
<meta name="theme-color" content="#ffffff" />
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicons/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicons/favicon-16x16.png" />
<link rel="shortcut icon" href="/favicon.png" />