<div class="clearfix"></div>
<footer class="footer">
  <div class="footer-container">
    <ul class="socialmedia">
      {{ range .Site.Data.siteVar.schema.socialMedia }}
      {{ $url := urls.Parse . }}	
      {{ $name := index (split $url.Host ".") 1 }}
      <li class="socialmedia__item">
        <a href="{{ . }}" target="_blank" title="{{ i18n $name }}"><img src="/images/icons/socialmedia/{{ $name }}.svg" class="socialmedia__icons" alt="{{ i18n $name }}" /></a>
      </li>
      {{ end }}

    </ul>
    <ul class="footer__menu">
      {{ range .Site.Menus.footer }}
      <li class="footer__item">
        <a href="{{ .URL | absLangURL }}" class="footer__link" title="{{ .Name }}">
          {{ .Pre }}
          <span class="title">{{ .Name }}</span>
        </a>
      </li>
      {{ end }}
      <li class="footer__item">
        <!-- ID is important for changing cookie settings. You can change the ID in inline_javascript.html. More infos on https://www.TermsFeed.com -->
        <a class="footer__link" id="changePreferences" title="{{ i18n "cookieLinkTitle" }}">
          <span class="footer__title">{{ i18n "cookieLinkTitle" }}</span>
        </a>
      </li>
    </ul>
  </div>
</footer>

