<!-- This content is on every page, included in baseof.html -->
<header class="header">

  <!-- Navigation -->
  <nav class="navigation">

    <!-- Burger Button -->
    <input type="checkbox" class="burger__toggler"> <!-- no label for you -->
    <div class="burger__button">
      <div class="burger__lines"><div></div></div>
    </div>

    <!-- Main Menu -->
    <div class="menu-container">
      <div class="menu">
        <a href="{{ "" | absLangURL }}" class="menu__branding" title="{{ i18n "logoTitle" }}">
          <img src="/images/icons/{{ $.Site.Data.siteVar.golbalImages.logo }}" class="menu__branding-logo" alt="{{ i18n "logoAlt" }}">
        </a>
        <ul class="menu__items">
          {{ range .Site.Menus.main }}
          <li class="menu__item">
            <a href="{{ .URL | absLangURL }}" class="menu__link" title="{{ .Name }}">
              {{ .Pre }}
              <span class="menu__title">{{ .Name }}</span>
            </a>
          </li>
          {{ end }}
        </ul>
  
        <!-- Language Selector -->
        <div class="menu__language">
        {{ $siteLanguages := .Site.Languages }}
        {{ $pageLang := .Page.Lang }}
        {{- range .Page.AllTranslations }}
          {{ $translation := . }}
          {{- range sort $siteLanguages "Weight" "asc" }}
            {{- if eq $translation.Lang .Lang }}
              {{ if eq $pageLang .Lang }}
                <a href="{{ $translation.Permalink }}" class="menu__language-select" title="{{ .Params.languageName }}"><img src="/images/icons/flags/flag_{{ .Params.languageNameShort }}.svg" alt="Icon {{ .Params.languageName }}" /></a>
                {{ else }}
                <a href="{{ $translation.Permalink }}" class="menu__language-noselect" title="{{ .Params.languageName }}"><img src="/images/icons/flags/flag_{{ .Params.languageNameShort }}.svg" alt="Icon {{ .Params.languageName }}" /></a>
              {{ end }}
            {{- end }}
          {{- end }}
        {{- end }}
        </div>
  
      </div>
    </div>
  </nav>

    <!-- To Top Button -->
  <button href="#top" class="button-top scroll" aria-label="{{ i18n "btnTopTitle" }}">
    <img src="/images/icons/other/arrow_up.svg" alt="{{ i18n "btnTopTitle" }}">
    <img src="/images/icons/other/arrow_up.svg" alt="{{ i18n "btnTopTitle" }}">
  </button>

  <!-- Sticky Header On Mobile Hidden -->
  <a href="{{ "" | absLangURL }}" class="mobile-sticky-header" title="{{ i18n "stickyHeaderTitle" }}">
    <img src="/images/icons/{{ $.Site.Data.siteVar.golbalImages.logo }}" class="mobile-sticky-header__logo" alt="{{ i18n "logoAlt" }}" />
  </a>

  <!-- Jumbotron -->
  <!-- <picture>
    <source 
      srcset="/images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_320.webp 320w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_768.webp 768w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_1200.webp 1200w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_1920.webp 1920w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}.webp 2560w" 
      type="image/webp">
    <source 
      srcset="/images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_320.jpg 320w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_768.jpg 768w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_1200.jpg 1200w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_1920.jpg 1920w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}.jpg 2560w" 
      type="image/jpeg"> 
    <img src="/images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_1200.jpg" alt="{{ i18n "headerAlt" }}" />
  </picture> -->
  <a href="{{ "" | absLangURL }}" title="{{ i18n "logoTitle" }}" class="header__logo">
    <img src="/images/icons/{{ $.Site.Data.siteVar.golbalImages.logo }}" alt="{{ i18n "logoAlt" }}" />
  </a>
</header>