<!-- TinySlider; Example in js/main.js
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js" defer></script>
-->

<!-- /assets/js/main.js -->
{{ $js := resources.Get "js/main.js" | minify }}
<script src="{{ $js.Permalink }}" defer></script>

<!-- Cookie Consent by https://www.TermsFeed.com -->
<script type="text/javascript" src="//www.termsfeed.com/cookie-consent/releases/3.0.0/cookie-consent.js" defer></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({
  "notice_banner_type":"interstitial",
  "consent_type":"express",
  "palette":"light", /* or dark */
  "change_preferences_selector":"#changePreferences", /* ID for Change Cookie Preferences */
  "language":"{{ .Page.Lang }}",
  "website_name":"{{ .Title }}"});
});
</script>
<noscript>Cookie Consent by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>
<!-- End Cookie Consent -->

<!-- Google Tracking Code -->
<script type="text/plain" cookie-consent="tracking" defer>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ $.Site.Data.siteVar.params.GATrackingId }}', 'auto');
  ga('set', 'anonymizeIp', {{ $.Site.Data.siteVar.params.GAAnonymize }});
  ga('send', 'pageview');
</script>