{{ define "main" }}

<!-- Homepage -->

{{ .Content }}

<!-- TinySlider 
  <div class="slider">
    {{ range .Params.slides }}
    <div><img src="/images/work/{{ .src }}" alt="{{ .alt }}"></div>
    {{ end }}   
  </div>
TinySlider -->

{{ range where .Site.RegularPages "Section" "blog" }}
<article class="article">
  <div class="date">{{ i18n "published" }}: {{ .PublishDate.Day }}. {{ i18n .PublishDate.Month }} {{ .PublishDate.Year }}</div>

  <div class="tags">
  {{ with .Params.tags }}
    Tags: 
    {{ range . }}
      <a href="{{ "tags/" }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a>
    {{ end }}
  {{ end }}
  </div>

  <div class="categories">
  {{ with .Params.categories }}
    Categories:
    {{ range . }}
      <a href="{{ "categories/" }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a>
    {{ end }}
  {{end}}
  </div>

  <p class="summary">{{ .Summary }}</p>
  <a href="{{ path.Join "blog" .Params.slug | absLangURL }}" title="{{ i18n "followLink" }}">{{ i18n "followLink" }}</a>
</article>

<hr>
{{ end }}
{{ end }}